body {
  font-family: "Courier New", Courier, monospace;
  background-color: #1d1a31;
}
.main {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: #4d2d52;
  margin-bottom: 20px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.display {
  width: 80%;
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.previous-operand {
  font-size: 18px;
  color: #666;
}

.current-operand {
  font-size: 36px;
  font-weight: bold;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  width: 100%;
}
button {
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.operator {
  background-color: #4caf50;
  color: #fff;
}

.operator:hover {
  background-color: #3e8e41;
}

.equal-sign {
  background-color: #03a9f4;
  color: #fff;
}

.equal-sign:hover {
  background-color: #039be5;
}

.clear-delete {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 1%;
  width: 80%;
}

.clear-delete button {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: calc(50% - 5px);
}

.clear-delete .clear {
  background-color: #9c27b0;
  color: #fff;
}

.clear-delete .clear:hover {
  background-color: #7b1fa2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.clear-delete .delete-btn {
  background-color: #f44336;
  color: #fff;
}

.clear-delete .delete-btn:hover {
  background-color: #e91e63;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
